{% extends "base.html" %}
{% block title %}TCM Schedule Fetch Utility --- a Djangoplex site{% endblock %}
{% block styles %}
#messagenode{
    font-size: small;
}
#resulttableheader{
    background-color: #330066;
    color: white;
}
{% endblock %}
{% block script %}
    dojo.require('dojo.date.stamp');
    dojo.require('dojo.date.locale');
    dojo.require("dijit.form.DateTextBox");

    var doFetch = function(){
        var thedate     = new Date(dojo.byId('date1').value);
        //window.confirm(thedate);
        var fdate       = dojo.date.stamp.toISOString(thedate,{selector: 'date'});
        var urlget      = "/movies/tcmdownload?sdate=" + fdate;
                                   //window.confirm(urlget);
        var resultnode  = dojo.byId("resultnode");
        var messagenode = dojo.byId("messagenode");

        messagenode.innerHTML = 'attempting to load schedule from TCM site and parse...';
        dojo.style(messagenode,'color','black');
        resultnode.innerHTML  = '';
        
        var showjson = true;
        dojo.xhrGet({
            url: urlget,
            handleAs: "json",
            load: function(result){
                
                if(showjson){
                    try{
                    //window.alert(result);
                    messagenode.innerHTML = result['message'];
                    

                    if(result['status']>0){
                     
                        var table = dojo.create("table",{border:"1"},resultnode);
                        var th    = dojo.create("tr",{ id:"resulttableheader"},table);
                        var td01  = dojo.create("td",{ innerHTML: "title" },th);
                        var td02  = dojo.create("td",{ innerHTML: 'added' },th);
                        var td03  = dojo.create("td",{ innerHTML: 'time'  },th);
                        var td04  = dojo.create("td",{ innerHTML: 'added' },th);
                        
                        dojo.style(messagenode,'color','green');
                        var showings = result['showings'];
                       
                        for(i=0;i<showings.length;i++){
                            showing = showings[i];
                           
                            var tr  = dojo.create("tr",{},table);
                            var td1 = dojo.create("td",{ innerHTML: showing['movie']['title']},tr);
                            var td2 = dojo.create("td",{ innerHTML: showing['movie_added']},tr);
                            var td3 = dojo.create("td",{ innerHTML: showing['datetime']},tr);
                            var td4 = dojo.create("td",{ innerHTML: showing['showing_added']},tr);

                           
                        }
                        
                    }else{
                        dojo.style(messagenode,'color','red');
                    }
                    
                    }catch(e){
                    window.alert(e.message);
                    }
                }else{
                    try{
                        //
                    }catch(e){
                        window.alert("error generating schedule table: "+e.message);
                    }
                   
                }
            },
            error: function(){      
                errormessage = "error while loading "+urlget;
                messagenode.innerHTML     = errormessage;
                dojo.style( messagenode,"color","red");
            }
        });
    }
{% endblock %}
{% block content %}
<table border="0">
<tr valign="top">
<td width="258">
<img src="{{ MEDIA_URL }}images/tcm_daily_schedule.gif" />
<input type="text" name="date1" id="date1"
       value="{{ dmax }}"
       dojoType="dijit.form.DateTextBox"
       required="true" />
<input type="button" value="download" onclick="doFetch();" />
<br />
</td>
<td>
<p id="messagenode">&nbsp;</p>
<p id="resultnode">&nbsp;</p>
</td>
</tr>
</table>
{% endblock %}
