{% extends "base.html" %}

{% block title %}TCM parse  -- a Djangoplex demo site{% endblock %}

{% block ready %}
            var menu = dojo.byId("menu");
            
{% for date in dates %}
            var item_{{ forloop.counter }} = dojo.create("button",
                        {
                            innerHTML: '{{ date }}'
                        },
                        menu);
            dojo.connect(item_{{ forloop.counter }},"onclick",function(evt){
                            sdate = item_{{ forloop.counter }}.innerHTML;
                            messagenode = dojo.byId("messagenode");
                            resultnode  = dojo.byId("result");
                            dojo.style(messagenode,"color","black");
                            messagenode.innerHTML = sdate;
                            resultnode.innerHTML = "&nbsp;";
                            var urlget = "/movies/tcmparseday?sdate=" + sdate;
                            
                            dojo.xhrGet({
                                url: urlget,
                                handleAs: "json",
                                load: function(result){
                                    
                                    messagenode.innerHTML     = "Schedule for "+sdate;//result
                                    dojo.style(messagenode,"color","green");
                                    var showdump = false;
                                    if(showdump){
                                        resultnode.innerHTML = "<code>"+result+"</code>";
                                    }else{
                                        
                                     
                                        var table    = dojo.create("table",
                                                                           {
                                                                            border: "1"
                                                                            },resultnode);
                                        for(index in result){
                                            
                                            var showing  = result[index];

                                            
                                            
                                            var movie    = showing['movie'];
                                            var datetime = new Date(showing['datetime']);
                                            var is_color = movie['is_color']?'C-':'';
                                            var sruntime  = is_color + movie['runtime'] + ' min';
                                            
                                            var added_movie   =  movie['added_movie'];
                                            var added_showing =  movie['added_showing'];
                                            
                                            var tr        = dojo.create("tr",{valign:'top'});
                                            var td1       = dojo.create("td",{});
                                            var td2       = dojo.create("td",{});
                                            var td3       = dojo.create("td",{});

                                            var added_movie_s = '';
                                            if(added_movie){
                                                added_movie_s = '<span style="color: green">ADDED</span>';
                                            }
                                           
                                            var titlespan = dojo.create("span",{
                                                                        innerHTML: added_movie_s+'<a href="http://www.tcm.com'+movie['path_tcmdb']+'">'+movie['title']+'</a>'
                                                                        });

                                            
                                            var yearspan  = dojo.create("span",{
                                                                        innerHTML: '&nbsp;('+movie['year']+')'
                                                                        })
                                            
                                        

                                            var added_showing_s = '';
                                            if(added_showing){
                                                added_showing_s = '<span style="color: green">ADDED</span>';
                                            }
                                            td1.innerHTML = datetime.toLocaleTimeString()+'<br/>'+ sruntime + '<br/>' + movie['tv_rating'] + '<br/>'+added_showing_s;
                                            td2.innerHTML = movie['genre'];
                                            
                                            dojo.place(td1,tr);
                                            dojo.place(titlespan,td3)
                                            dojo.place(yearspan,td3);
                                            if(movie['description']){

                                                
                                                var description = dojo.create('span',
                                                                          {
                                                                        innerHTML: '<br/>'+movie['description']
                                                                       });
                                                dojo.place(description,td3);
                                            }
                                            if(movie['cast']){
                                                cast = '<strong>Cast</strong>:&nbsp;'+movie['cast']+'. '
                                            }else{
                                                cast = '';
                                            }

                                            if(movie['director']){
                                                director = '<strong>Dir</strong>:&nbsp;'+movie['director']+'.';

                                            }else{
                                                director = '';
                                            }
                                            if(movie['cast'] || movie['director']){
                                            
                                                var details     = dojo.create('p',
                                                                        {
                                                                            innerHTML: cast + director
                                                                        });
                                                dojo.place(details,td3);
                                            }
                                            
                                            dojo.place(td2,tr);
                                            dojo.place(td3,tr);
                                            dojo.place(tr,table);
                                            
                                            dojo.style(titlespan,{'fontWeight':'bold'})
                                             /**
                                            **/
                                        
                                        
                                        }
                                    }
                                   
                                },
                                error: function(){
                                    messagenode.innerHTML = "error looking for "+urlget;
                                    dojo.style( messagenode,"color","red"); 
                                }
                            });
                        });
{% endfor %}
{% endblock %}

{% block content %}
<table border="1">
<tr>
<td width="200">
<h3>TCM parse</h3></td>
<td>
<div id="messagenode">&nbsp;</div>
</td>
</tr>
<tr valign="top">
<td>
<div id="menu"></div>
</td>
<td>
<div id="result">&nbsp;</td>
</tr>
</table>

{% endblock %}