{% extends "base.html" %}

{% block title %}TCM Schedule-- a Djangoplex site{% endblock %}
{% block script %}
    dojo.require('dojo.date.stamp');
    dojo.require('dojo.date.locale');
    dojo.require("dijit.form.DateTextBox");
    
    var showjson  = false;
    var schedules = new Object();
    var tables    = new Object();

    //use current time minus 4 hours to overlap midnight into next day
    var hourshift = 4;
    var now       = new Date();
    var today     = new Date((now.getTime())-(hourshift*3600000));
    
    var tdate     = '';
    var sdate     = '{{ sdate }}';
    
    tzdiff = 0;
    try{
        //schedule data is for Mountain Time Zone. Get factor for correct time here.
        var tzoffset_base     = -21600;
        var tzoffset_data     = {% now "Z" %};
        
        
        tzdiff = (tzoffset_data-tzoffset_base)*1000;
    }catch(e){}
    var tzoffset_name     = '{% now "T" %}';
    
    
    
    var movie_genres =   {
        'A': 'adventure',
        'C': 'comedy',
        'c': 'crime',
        'd': 'documentary',
        'D': 'drama',
        'E': 'epic',
        'H': 'horror',
        'M': 'musical',
        'R': 'romance',
        's': 'short',
        'z': 'silent',
        'S': 'suspense',
        'W': 'war',
        'w': 'western',
        'U': '--none--',
    };
    var makeEss   = function(val){
        return val==1?'':'s';
    }
    var setTopDisplayDate = function(xdate){
        var ddate               = dojo.date.locale.format(xdate,{selector:'date',datePattern:'EEEE MMMM d, yyyy'});
        var messagenode         = dojo.byId("messagenode");
        messagenode.innerHTML   = "<span class='success'> for "
                             + ddate
                             +"</span>";
        dojo.style(messagenode,"color","green");

        var scheddate           = dojo.byId("scheddate");
        scheddate.innerHTML = ddate;
    }
    var getDisplayTime   = function(dtime){
        return dojo.date.locale.format(dtime,{selector:'time',datePattern:'h:m a'})
    }
    var setNowShowing    = function(){
        //window.alert("1");
        var nextshow = '';
        var rightnow = new Date();
        var rntime   = rightnow.getTime();
        var foundcur = false;
        tsched = schedules[tdate];
        var nowshowing = dojo.byId("nowshowing");
        if(tsched){
            try{
        
            for(index in tsched){
                showing = tsched[index];
                tbegin  = showing['datetime'];
                tend    = tbegin + (showing['movie']['runtime']*60000);

                
                if(tbegin<rntime && tend>rntime){
                    var foundcur   = true;
                    var minago     = Math.round((rntime-tbegin)/60000);
                    var minleft    = Math.round((tend-rntime)/60000);
                    
                    nowshowing.innerHTML = "&raquo;&raquo;&nbsp;currently showing <strong style='color: orange'>"
                    +showing['movie']['title']
                    +"</strong> (began at "+getDisplayTime(new Date(tbegin))
                    +", "+minago+" minute"+makeEss(minago)+" ago, with "
                    +minleft+" minute"+makeEss(minleft)+" left)";
                    
                }
                if(!nextshow && rntime<tbegin){
                    nextshow = showing;
                }
            }
            }catch(e){
                window.alert("error in setting now "+e.message);
            }
            if(!foundcur){
                nowshowing.innerHTML = '';
            }
            if(nextshow){
                var nextshowing = dojo.byId("nextshowing");
                var mintogo     = Math.round((nextshow['datetime']-rntime)/60000);
                
                nextshowing.innerHTML = "&raquo;&raquo;&nbsp;next up <strong style='color: orange'>"
                +nextshow['movie']['title']
                +"</strong> (begins at "
                +getDisplayTime(new Date(nextshow['datetime']))
                +", in "+mintogo+" minute"+makeEss(mintogo)+")";
            }
        }
        
    }
    
    var doExpandNode     = function(node,expand){
        //window.alert(node.expanded);
        if(expand!=-1){
            node.expanded = expand;
        }else{
            node.expanded = !node.expanded;
        }
                try{
                node.expanded? node.appendChild(node.details_node): node.removeChild(node.details_node);
                //dojo.removeClass(node.details_node,node.expanded?'movie_l_2':'movie_l');
                //dojo.addClass(node.details_node,node.expanded?'movie_1':'movie_l_2');
                
                }catch(e){
                    //window.alert(e.message+" for "+node.id);

                }        
    }
    var doExpandSchedule = function(){
        var schedule = dojo.byId("schedule");
        schedule.expanded = !schedule.expanded;
        dojo.byId('expandswitch').innerHTML = schedule.expanded?"contract titles":"expand titles";
        dojo.query("#schedule td").forEach(
            function(node,index,nodelist){
                doExpandNode(node,schedule.expanded);
            }
        );
       
    }
    
    var getScheduleTable = function(result){

                                        
        var table    = dojo.create("table",{ border: "0", "id":"schedule"});
        table.expanded = true;
                    
        for(index in result){
                            
            var tr        = dojo.create("tr",{valign:'top'});
            var td1       = dojo.create("td",{});
            var td2       = dojo.create("td",{});

            td1.expanded = true;
            td2.expanded = true;
                            
            dojo.place(tr,table);
            dojo.place(td1,tr);
            dojo.place(td2,tr);
                            
                            
            var showing              = result[index];
            showing['datetime']      = showing['datetime']+tzdiff;                       
            var showing_datetime     = new Date(showing['datetime']);
            var movie                = showing['movie']; 
                                                                       
                   
            var _meta        = '<nobr>'+(movie['is_color']?'C-':'') + movie['runtime'] + ' min</nobr>';
            
            var showing_time = dojo.create('p',
                    {innerHTML: '<nobr>'+getDisplayTime(showing_datetime)+'</nobr>'
                    });
            var movie_details_r = dojo.create('div',{});
            var movie_details_l = dojo.create('div',{});
            
            var movie_meta   = dojo.create('p',
                                            {innerHTML: _meta
                                            });  
            var movie_rating = dojo.create('p',
                                            {innerHTML: 'TV-'+movie['tv_rating']
                                            });
            
            var movie_tcmdb_url = 'http://www.tcm.com'+movie['path_tcmdb'];
            
            var movie_title = dojo.create("a",
                                            {
                                             //href: '#'+movie['title'],
                                             innerHTML: movie['title'],
                                             id: movie['title'],
                                             onclick: function(evt){
                                                    doExpandNode(this.table_cell,-1);
                                                    doExpandNode(this.table_cell.left_node,-1);
                                                    //alert("The scope of this handler is " + this.id);
                                                    dojo.stopEvent(evt);
                                                    },
                                             href: "#"
                                            });
            movie_title.table_cell = td2;
            
            var movie_year  = dojo.create("span",
                                            {innerHTML: '&nbsp;('+movie['year']+')'
                                            });
            var movie_full  = dojo.create('p',{});
            
            var movie_genre = dojo.create('span',
                                            {innerHTML: '&nbsp;&nbsp;'+movie_genres[movie['genre']]
                                            });
                            
            if(movie['description']){
                var movie_description = dojo.create('p',
                                            {innerHTML: movie['description']
                                            });             
            }
            if(movie['cast']){
                var movie_cast        = dojo.create('p',
                                            {innerHTML: '<strong>Cast</strong>:&nbsp;'+movie['cast']+'. '
                                            });             
            }
            if(movie['director']){
                var movie_director    = dojo.create('p',
                                            {innerHTML: '<strong>Dir</strong>:&nbsp;'+movie['director']+'. '
                                            });             
            }
            dojo.addClass(movie_title,'movietitle');
            dojo.addClass(movie_year,'movieyear');
            dojo.addClass(movie_full,'moviefull');
            dojo.addClass(movie_genre,'moviegenre');
            if(movie_description){
                dojo.addClass(movie_description,'moviedescription');
            }
            if(movie_cast){
                dojo.addClass(movie_cast,'moviecast');
            }
            if(movie_director){
                dojo.addClass(movie_director,'moviedirector');
            }
            dojo.addClass(showing_time,'showingtime');
            dojo.addClass(movie_meta,'moviemeta');
            dojo.addClass(movie_rating,'movierating');
            
            dojo.place(showing_time,td1);
            dojo.place(movie_meta,movie_details_l);
            dojo.place(movie_rating,movie_details_l);
            dojo.addClass(td1,'movie_l');
            dojo.place(movie_details_l,td1);
            td1.details_node = movie_details_l;
            
            dojo.place(movie_title,movie_full);
            dojo.place(movie_year,movie_full);
            dojo.place(movie_genre,movie_full);
            dojo.place(movie_full,td2);

            
            //dojo.place(movie_genre,movie_details_r);
            if(movie_description){
                dojo.place(movie_description,movie_details_r);
            }
            if(movie_cast){
                dojo.place(movie_cast,movie_details_r);
            }
            if(movie_director){
                dojo.place(movie_director,movie_details_r);
            }
            dojo.place(movie_details_r,td2);
            dojo.addClass(td2,'movie_r');
            td2.details_node = movie_details_r;
            td2.left_node    = td1;
            
        }
        return table;
    }
    var showSchedule = function(rdate,messagenode,resultnode){
     
      var errormessage = '';
      
      
      resultnode.innerHTML = "";
      dojo.style(messagenode,"color","black");
      var xdate = (new Date(rdate.substring(0,4),rdate.substring(5,7)-1,rdate.substring(8,10)));              
                
      
      if(!schedules[rdate] || !tables[rdate]){
          
        messagenode.innerHTML = "loading schedule for "+rdate+"...";
        var urlget = "/movies/tcmschedulej?sdate=" + rdate;
        
        dojo.xhrGet({
            url: urlget,
            handleAs: "json",
            load: function(result){
                
                if(showjson){
                    resultnode.innerHTML = "<code>"+result+"</code>";
                }else{
                    try{
                        schedules[rdate] = result;
                        tables[rdate]    = getScheduleTable(result);

                        resultnode.appendChild(tables[rdate]);
                        setTopDisplayDate(xdate);
                        

                        if(rdate==tdate){
                            setNowShowing();
                        }
                    }catch(e){
                        window.alert("error generating schedule table: "+e.message);
                    }
                   
                }
            },
            error: function(){      
                errormessage = "error while loading "+urlget;
                messagenode.innerHTML     = errormessage;
                dojo.style( messagenode,"color","red");
            }
        });
        
      }else{
            resultnode.appendChild(tables[rdate]);
            setTopDisplayDate(xdate);
      }
    }
{% endblock %}
{% block ready %}
     tdate     = dojo.date.stamp.toISOString(today, {selector: 'date'});
     if(!sdate){
            sdate = tdate;
     }
     
     var tz    = dojo.date.locale.format(now,{selector:'date',datePattern:'z'});
    

     dijit.byId('date1').constraints.min = new Date(2011,3,1);
     dijit.byId('date1').constraints.max = new Date(2011,7,2);
     
     showSchedule(tdate,dojo.byId('messagenode'),dojo.byId('resultnode'));
     dojo.byId('timezone').innerHTML = 'schedule for '+tz;
     //dojo.byId('date1').attr('value',new Date(tdate));

     setInterval("setNowShowing()",60000); //refresh nowshowing after one minute    
{% endblock %}
{% block styles %}
body{
    font-family: sans-serif;
    font-size: small;
    background-color: #ffffcc;
}
.movietitle{
    font-size: small;
    font-family: sans-serif;
}
.movieyear{
    font-size: small;
    font-family: sans-serif;
    color: #333;
}
.moviefull{
    margin: 0pt;
}
.moviegenre{
    margin: 0pt;
    color: #666;
    font-style: italic;
    font-size: small;
}
.moviedescription{
    font-size: smaller;
    margin: 0pt;
}
.moviecast{
    font-size: smaller;
    margin: 0pt;
}
.moviedirector{
    font-size: smaller;
    margin: 0pt;
}
.showingtime{
    font-family: sans-serif;
    font-size: smaller;
    margin-top: 0.3em;
    margin-bottom: 0pt;
}
.moviemeta{
    margin: 0pt;
    font-size: smaller;
}
.movierating{
    color: #ccc;
    margin: 0pt;
    font-size: smaller;
}
.movie_l{
    background-color: #ffffff;
}
.movie_l_2{
    background-color: #ffffff;
}
.movie_r{
    background-color: #ffffff;
}
.expandswitch{
    margin: 0pt;
}
#schedule{
    margin-top: 0pt;
    padding-top: 0pt;
}
.success{
    color: #bbb;
    font-weight: bold;
    font-size: large;
}
.disclaimer{
    font-size: x-small;
    color: #ccc;
    margin-top: 0.5em;
    margin-bottom: 0.1em;
}
#resultnode{
    margin-top: 0em;
    padding-top: 0em;
    padding-left: 1.5em;   
}
#tickernotice{
     font-size: x-small;
     color: #999;
}
#timenotice{
     font-size: xx-small;
     color: #aaa;
}
#scheddate{
     margin-top: 0pt;
     margin-bottom: 0pt;
     font-size: small;
     background-color: #999;
     font-weight: bold;
     color: white;
     margin-left: 1.5em;
}
{% endblock %}
{% block content %}
<table border="0">
<tr valign="top">
<td width="258">
<img src="{{ MEDIA_URL }}images/tcm_daily_schedule.gif" />
<p id="messagenode">&nbsp;</p>
<input type="text" name="date1" id="date1"
       onchange="showSchedule(dojo.date.stamp.toISOString(this.value,
       {selector: 'date'}),
       dojo.byId('messagenode'),
       dojo.byId('resultnode'));"
       value="{{ sdate }}"
       dojoType="dijit.form.DateTextBox"
       required="true" />
<br />
<span id="timezone">&nbsp;</span>
<br />
<span class="expandswitch">
<a id="expandswitch" href="#" onclick="doExpandSchedule();return false;">contract titles</a>
</span>
<hr />
<span id="tickernotice">movie ticker (updated once a minute)</span>
<p id="nowshowing">&nbsp;</p>
<p id="nextshowing">&nbsp;</p>
<!--
<p id="timenotice">note that actual showtimes for primetime evening or
weekend afternoon showings
are typically delayed by approx. 2-3 minutes due
to the host's introduction of feature.</p>
-->
<div class="disclaimer">The TCM logo is a trademark of
Turner Broadcasting. It is used here
along with the TCM schedule information for
demonstration purposes and personal use.
</div>
</td>

<td>
<p id="scheddate"></p>
<div id="resultnode"></div>
</td>
</tr>
</table>
{% endblock %}